/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#Click{
	-fx-font-size: 30px;
	-fx-background-color: white ;
	-fx-padding: 6 6 6 6;
	-fx-text-fill : deepskyblue ;
	-fx-border-radius : 8;
	-fx-font-weight: bold; 
}


#msg{
	-fx-font-size: 30px;
	-fx-background-color: white ;
	-fx-padding: 6 6 6 6;
	-fx-text-fill : brown ;
	-fx-border-radius : 8;
	-fx-font-weight: bold; 
}
#lb{
	-fx-font-size: 20px;
	-fx-background-color: white ;
	-fx-padding: 6 6 6 6;
	-fx-text-fill : brown ;
	-fx-border-radius : 8;
	-fx-font-weight: bold;
}



.root{
	-fx-background-color : crimson ;
}